@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    to bottom,
    rgba(110, 104, 250, 1),
    rgba(0, 0, 0, 1)
  );
  font-family: "Alata";
  color: white;
  width: 100vw;
  min-height: 100vh;
  padding: 8px;
}

.sortalgo {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8vh;
}

.algos-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
}

.bubble-container {
  width: 35vw;
  min-height: 30vh;
  background-color: rgba(73, 70, 146, 0.47);
  border-radius: 10px;
  padding: 1.2vw;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.inputs {
  display: flex;
  gap: 1vw;
  padding-bottom: 2vh;
}

input,
select,
textarea {
  color: grey;
}

div[id^="output_"] {
  background-color: white;
  color: grey;
  padding: 2vh;
}

.merge-container {
  width: 35vw;
  background-color: rgba(73, 70, 146, 0.47);
  border-radius: 10px;
  padding: 1.2vw;
}

.complexity {
  padding: 2vh;
}

.btn {
  border-radius: 12px;
  text-transform: uppercase;
  padding: 7px 15px;
  color: #6f6aee;
  outline: none;
  border-style: none;
  background-color: white;
  cursor: pointer;
  margin-bottom: 2vh;
}

.back-container {
  padding: 7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.back-btn {
  border-radius: 12px;
  text-transform: uppercase;
  padding: 7px 15px;
  background-color: #6f6aee;
  outline: none;
  border-style: none;
  color: white;
  cursor: pointer;
  margin-bottom: 2vh;
}

.credits {
  margin-left: -6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(64, 62, 122, 0.23);
  width: 100vw;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
