/* Practice Dev Code by Josue Liu */
*{
	margin: 0;
	padding: 0;
	font-family: 'Alata', sans-serif;
	font-family: 'Alatsi', sans-serif;
	font-family: 'Inter', sans-serif;
}
body{
	/*background: linear-gradient(to bottom, rgba(110, 104, 250, 1), rgba(2, 0, 33, 0));*/
	background: linear-gradient(to bottom, rgba(110, 104, 250, 1), rgba(0, 0, 0, 1));
	background-attachment: fixed;
	background-size: cover;
}

h1{
	font-family: 'Alata';
	font-style: normal;
	font-weight: 400;
}
.header-text{
	position: absolute;
	width: 100%;
	height: 55px;
	left: calc(0% + 25px);
	top: calc(0% + 25px);

	font-size: 26px;
	line-height: 55px;
	text-align: left;
	letter-spacing: 0.15em;

	color: #FFFFFF;
}
hr{
	position: absolute;
	width: 100%;
	height: 0px;
	left: 0%;
	top: calc(0% + 85px);
	
	border: none;
	border-top: 1px solid #FFFFFF;
}

#rectangle1{
	position: absolute;
	width: 650px;
	height: 220px;
	left: calc(50% - 650px / 2);
	top: calc(0% + 185px);
	background: rgba(73, 70, 146, 0.47);
	border-radius: 10px;
}
h2{
	font-family: 'Alatsi';
	font-style: normal;
	font-weight: 400;
}
.subtitle1{
	position: absolute;
	width: 100%;
	height: 48px;
	left: 0%;
	top: calc(0% + 185px + 55px - 24px);

	font-size: 22px;
	line-height: 48px;
	text-align: center;

	color: #F5F5F5;
}

#rectangle2{
	position: absolute;
	width: 650px;
	height: 220px;
	left: calc(50% - 650px / 2);
	top: calc(0% + 185px + 270px);
	background: rgba(73, 70, 146, 0.47);
	border-radius: 10px;
}
.subtitle2{
	position: absolute;
	width: 100%;
	height: 48px;
	left: 0%;
	top: calc(0% + 185px + 55px - 24px + 270px);

	font-size: 22px;
	line-height: 48px;
	text-align: center;

	color: #F5F5F5;
}

#rectangle3{
	position: absolute;
	width: 650px;
	height: 220px;
	left: calc(50% - 650px / 2);
	top: calc(0% + 185px + 270px * 2);
	background: rgba(73, 70, 146, 0.47);
	border-radius: 10px;
}
.subtitle3{
	position: absolute;
	width: 100%;
	height: 48px;
	left: 0%;
	top: calc(0% + 185px + 55px - 24px + 270px * 2);

	font-size: 22px;
	line-height: 48px;
	text-align: center;

	color: #F5F5F5;
}

.try-btn{
	display: inline-block;
	text-decoration: none;
	padding: 0px 50px;
	top: 50px;
	background: rgba(111, 106, 238, 1);
	position: relative;
	cursor: pointer;
	border-radius: 100px;
	color: #F5F5F5;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
}

#rectangle4{
	position: absolute;
	width: 100%;
	height: 60px;
	left: 0%;
	top: calc(0% + 185px + 270px * 3);
	background: rgba(64, 62, 122, 0.23);
}
h3{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}
.footer-text1{
	position: absolute;
	width: 100%;
	height: 30px;
	left: calc(0% + 15px);
	top: calc(0% + 185px + 3*270px + 15px);

	font-size: 18px;
	line-height: 30px;
	text-align: left;
	
	color: #F5F5F5;
}
.footer-text2{
	position: absolute;
	width: calc(100% - 15px);
	height: 30px;
	left: 0%;
	top: calc(0% + 185px + 3*270px + 15px);

	font-size: 18px;
	line-height: 30px;
	text-align: right;
	
	color: #F5F5F5;
}

.header-text-v2{
	position: absolute;
	width: 100%;
	height: 55px;
	left: 0%;
	top: calc(0% + 70px);

	font-size: 26px;
	line-height: 55px;
	text-align: center;
	letter-spacing: 0.15em;

	color: #FFFFFF;
}

.back{
	position: absolute;
	width: 70px;
	height: 50px;
	left: calc(50% - 70px);
	top: calc(0% + 850px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 50px;
	text-align: center;

	color: #F5F5F5;
}
.back-btn{
	display: inline-block;
	text-decoration: none;
	padding: 0px 40px;
	top: 0%;
	background: rgba(111, 106, 238, 1);
	position: relative;
	cursor: pointer;
	border-radius: 100px;
	color: #F5F5F5;
}

#rectangle5{
	position: absolute;
	width: 600px;
	height: 550px;
	left: calc(50% - 625px);
	top: calc(0% + 200px);
	background: rgba(73, 70, 146, 0.47);
	border-radius: 10px;
}
h4{
	font-family: 'Alata';
	font-style: normal;
	font-weight: 400;
}
.subtitle5{
	position: absolute;
	width: 600px;
	height: 48px;
	left: calc(50% - 625px);
	top: calc(0% + 220px);

	font-size: 30px;
	line-height: 48px;
	text-align: center;

	color: #FFFFFF;
}
h5{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
}
.complexity-text5{
	position: absolute;
	width: 600px;
	height: 48px;
	left: calc(50% - 625px);
	top: calc(0% + 760px);

	font-size: 24px;
	line-height: 48px;
	text-align: center;

	color: #FFFFFF;
}

#rectangle6{
	position: absolute;
	width: 600px;
	height: 550px;
	left: calc(50% + 25px);
	top: calc(0% + 200px);
	background: rgba(73, 70, 146, 0.47);
	border-radius: 10px;
}
.subtitle6{
	position: absolute;
	width: 600px;
	height: 48px;
	left: calc(50% + 25px);
	top: calc(0% + 220px);

	font-size: 30px;
	line-height: 48px;
	text-align: center;

	color: #FFFFFF;
}
.complexity-text6{
	position: absolute;
	width: 600px;
	height: 48px;
	left: calc(50% + 25px);
	top: calc(0% + 760px);

	font-size: 24px;
	line-height: 48px;
	text-align: center;

	color: #FFFFFF;
}

.bs-input{
	position: absolute;
	width: 600px;
	height: 500px;
	left: calc(50% - 625px + 20px);
	top: calc(0% + 280px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: left;

	color: #D9D9D9;
}
input[type="number"][name="size1"] {
	width: 60px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
input[name="elements1"] {
	width: 255px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
.run-btn1{
	position: absolute;
	left: 485px;
	top: 2px;
	width: 75px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
#bs-output{
	position: absolute;
	width: 560px;
	height: 400px;
	left: calc(50% - 625px + 20px);
	top: calc(0% + 330px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	overflow: auto;

	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
}

.ms-input{
	position: absolute;
	width: 600px;
	height: 500px;
	left: calc(50% + 25px + 20px);
	top: calc(0% + 280px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: left;

	color: #D9D9D9;
}
input[type="number"][name="size2"] {
	width: 60px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
input[name="elements2"] {
	width: 255px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
.run-btn2{
	position: absolute;
	left: 485px;
	top: 2px;
	width: 75px;
	height: 30px;
	font-family: 'Inter';
	font-size: 18px;
}
#ms-output{
	position: absolute;
	width: 560px;
	height: 400px;
	left: calc(50% + 25px + 20px);
	top: calc(0% + 330px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	overflow: auto;

	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
}
